body {
    margin: 0;
    background-color: #a3b18a;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    height: 70px;
  
    background-color: #3a5a40;
    box-shadow: 1px 1px 15px grey;
  }
  
  .webpage {
      margin: 50px 100px;
  }
  
  .main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;
      padding: 20px;
      margin-top: 10px;
  }
  .meal-card {
      width: 100%;
      opacity: 1;
      box-shadow: 1px 1px 15px black;
  } .meal-card:hover {
      opacity: 0.6;
  }
  
  /* Insert @Media queries here! */
  @media (min-width: 786px) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .meal-card{
        width: 50%;
        opacity: 1;
        box-shadow: 1px 1px 15px purple;
    }
    .meal-card:hover {
        opacity: 0.5;
    }
  }
  @media (min-width: 992px) {
 .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;
        padding: 20px;
 }  
    .meal-card {
        width: 75%;
        opacity: 1;
        box-shadow: 1px 1px 15px green;
    }
    .meal-card:hover {
        opacity: 0.75;
    }
  }
 @media (min-width: 1200px) {
.main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        padding: 20px;
    }
}